body {
  background-color: var(--color-1);
}

.go-back {
  width: 30px;
  height: 25px;
  padding: 25px 0px 0px 25px;
}

.title-page {
  margin-top: 70px;
  color: var(--color-3);
  font-size: 50px;
  text-align: center;
}

.text {
  color: var(--color-1);
  text-align: justify;
}

/* STATEMENT */

.statement {
  display: flex;
  flex-direction: column;
}

.box-statement {
  margin-top: 50px;
  border-radius: 15px;
  width: 80vw;
  background-color: var(--color-2);
  padding: 30px;
  margin-left: calc(10vw - 30px);
}