@media (max-width: 1300px) {
  .v2g-structure {
    margin-top: 15px;
    width: 50vw;
  }
}

@media (max-width: 1200px) {
  .v2g-structure {
    margin-top: 10px;
    width: 60vw;
  }

  .boxs-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-about ~ .box-about {
    margin-left: 0px;
  }

  .box-about {
    width: 80%;
  }
}

@media (max-width: 1040px) {
  header {
    align-items: center;
  }

  .options {
    display: none;
  }

  .options-responsiveness {
    display: flex;
  }
}

@media (max-width: 900px) {
  h3 {
    font-size: 15px;
  }

  .grids-button p {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .boxs-protocols {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .title-page {
    font-size: 35px;
    text-align: center;
  }

  section.ufrj {
    display: none;
  }

  section.content {
    width: 100vw;
  }
}

@media (max-width: 550px) {
  .authors-boxs {
    flex-direction: column;
  } 

  .author-box ~ .author-box {
    margin-top: 50px;
  } 
}

@media (max-width: 400px) {
  .title-page {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 300px) {
  .options-responsiveness {
    width: 85px;
  }

  .go-back {
    width: 25px;
    height: 20px;
  }

  span, .v2g-structure {
    display: none;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-about {
    margin-bottom: 25px;
    height: 300px;
  }

  .box-protocols {
    height: 300px;
  }
}

@media (max-width: 270px) {
  .title-v2g {
    font-size: 60px;
  }

  p {
    font-size: 14px;
  }

  .about-button {
    width: 150px;
    height: 50px;
  }

  .download {
    font-size: 14px;
    width: 200px;
    text-align: center;
    flex-direction: column-reverse; 
  }

  .download img {
    margin-top: 10px;
  }

  .photo-border {
    width: 150px;
    height: 150px;
  }

  .photo {
    width: 135px;
    height: 135px;
  }

}

@media (max-width: 200px) {
  .box-protocols {
    height: 500px;
  }

  .title-page {
    font-size: 25px;
  }
  
  a {
    font-size: 10px;
  }
}